<div style="display: flex; flex-direction: row;">
    <div style="padding-right: 10px;">
        <div>Name:</div>
        <div>Email:</div>
        <div>Subject:</div>
        <div>Message:</div>
    </div>
    <div>
        <div>{{data.name}}</div>
        <div>{{data.email}}</div>
        <div>{{data.subject}}</div>
        <div>{{data.message}}</div>
    </div>
</div>